#container {
	margin: auto;
	width:100%;
	
}

#header{
	
	width:1000px;
	height:50px;
	background: grey;
	color:white;
    text-align:left;
    padding:25px;
	
}

#nav {
	width:100px;
	height:600px;
	margin-top:10px
	margin-bottom:10px;
	padding:25px;
	background-color:purple;
	color: white;
	float:left;

}

#left{
	width:600px;
	height:600px;
	float:left;
	font-size: 9pt;
	padding-left: 25px;
	color: purple;

}

#right{
	width:150px;
	height:150px;
	float: right;
	padding-left: 70px;
	padding-top:25px;
	background-color: grey;
	margin-top: -10px;

}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color:purple;
    border: solid 1px:grey;
    float: right;
    color:white;
    width:210px;
}

.img {
	float: left;
	padding: 10px;
}

#footer{
	
	width:1000px;
	height:50px;
	background:grey;
	color:white;
    clear:both;
    text-align:center;
    padding: 25px;
    



}